.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
  position: fixed; /* Or `absolute`, depending on the desired behavior */
  top: 250px; /* Adjust based on desired position */
  
  /* min-width: 200px; 
  min-height: 100px;  */
}
.logout {
  display: flex;
  position: relative;
  left: 2000px;
  z-index: 999;
  bottom: 170px;
  /* cklick on the botton */
}